@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.component {
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    grid-gap: $gap;

    div {
        @include flex($justifyContent: center, $alignItems: center);
    }
}

@media only screen and (max-width: 1536px) { // 1200px - 1536px
    .component {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) { // 350px - 600px
    .component {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}