rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        function isUserAuthorized() {
            return request.auth != null;
        }
        function isCollectionNameAndUserIdSame(idUser) {
            return request.auth.uid == idUser;
        }
        function isCollectionNameContainsAuthUid(collectionName) {
            return collectionName.matches(".*" + request.auth.uid + ".*");
        }
        match /friendship/{combinedId} {
            allow read: if isUserAuthorized();
            allow write: if isCollectionNameContainsAuthUid(combinedId);
        }
        match /messages/{combinedId}/{document=**} {
            allow read: if isUserAuthorized();
            allow write: if isCollectionNameContainsAuthUid(combinedId);
        }
        match /status/{userId} {
            allow read: if isUserAuthorized();
            allow write: if isCollectionNameAndUserIdSame(userId);
        }
        match /unread/{combinedId} {
            allow read: if isUserAuthorized();
            allow write: if isCollectionNameContainsAuthUid(combinedId);
        }
        match /users/{userId} {
            allow read: if isUserAuthorized();
            allow write: if isCollectionNameAndUserIdSame(userId);
        }
    }
}