@import '/src/common/styles/variables';
@import '/src/common/styles/mixins';

.component {
    display: grid;
    grid-area: InventoryContent;
    grid-gap: $gap;
    grid-template-columns: 4.15fr 3.1fr repeat(3, 1fr);
    margin-bottom: 5px;

    .weapons, .agents, .sidekicksGearLand {
        display: grid;
        grid-gap: $gap;

        div {
            @include flex(center, center);
        }
    }

    .weapons, .sidekicksGearLand {
        grid-template-rows: 75px 75px;
    }

    .weapons {
        grid-template-columns: repeat(4, 1fr);

        div:nth-child(-n + 3) { /* this collapsing 2 last grid columns */
            grid-column: 2 span;
        }

        img {
            max-height: 40px;
        }
    }

    .agents {
        grid-template-rows: 155px;
        grid-template-columns: repeat(3, 1fr);

        img {
            max-height: 130px;
        }
    }

    .sidekicksGearLand {
        grid-template-columns: 1fr 1fr;

        img {
            max-height: 52px;
        }
    }
}

@media only screen and (max-width: 1200px) { // 600px - 1200px
    .component {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
    }
}