@import "../../../../../../../common/styles/variables";

.componentExternal {
    .delimiter {
        width: 100%;
        height: 5px;
        background-color: $mainColor;
        margin-top: 24px;
        margin-bottom: 5px;
    }

    .lastPlayer {
        font-size: 7px;
        display: grid;
        align-content: center;
    }
}

.component {

}