$mainColor: rgba(255, 255, 255, 0.25);
$mainTextColor: #ffffff;
$secondTextColor: rgba(255, 255, 255, 0.5);
$gap: 5px;
$chartColor: rgba(255, 255, 255, 0.15);

// for RightPart children overflow by height
$headerHeight: 70px;
$infoHeight: 40px;

// margin for input modules inside Friends/Left and Right parts
$marginFriendsLeftRight: 10px;

$paddingBeforeScroll: 7px;

$addImgSendHeightBtn: 50px;