@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.component {
    grid-area: RightPart;
    @include flex($justifyContent: flex-end, $alignItems: center);
    padding-right: 40px;
}

@media only screen and (max-width: 1200px) { // 350px - 600px
    .component {
        padding: 20px;
        @include flex($justifyContent: center, $alignItems: center);
        img {
            max-width: 100%;
        }
    }
}