@import 'src/common/styles/variables';
@import 'src/common/styles/mixins';

.component {
    border: none;
    cursor: pointer;
    width: 100%;
}

@media only screen and (max-width: 600px) { // 350px - 600px
    .component {
        font-size: 11px;
    }
}
