@import 'src/common/styles/mixins';
@import "src/common/styles/variables";

.commonButton {
    .addButton {
        @include flex($justifyContent: center, $alignItems: center);
        cursor: pointer;
        border: none;
    }

    .isDisabled {
        cursor: auto;
        color: #a0a0a0;
        background-color: #e0e0e0;
    }
}