@import '/src/common/styles/mixins';

.container {
    @include flex($justifyContent: flex-start, $alignItems: center);

    .form {
        width: 100%;

        .statusContainer {
            display: flex;
            width: 100%;

            .statusTextWrapper {
                white-space: nowrap;
                overflow-x: auto;
                padding-bottom: 4px;
            }

            .statusName {
                white-space: nowrap;
                margin-right: 5px;
            }

            .elementContainerAdditional {
                width: 100%;
            }
        }
    }
}