@import '/src/common/styles/mixins';


.component {
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    padding: 50px 25px;
    width: 100%;

    .inventoryHeader {
        position: relative;
    }
}

.inventoryContentHeaders {
    margin-top: $gap;
    display: grid;
    grid-template-columns: 4.15fr 3.1fr repeat(3, 1fr);
    grid-gap: $gap;
}