@import '../styles/variables';

.overlayBackground {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;

}

.isMain {
    background: rgba(black, 0.8);
}