@import 'src/common/styles/variables';

.component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: $gap;
    grid-gap: $gap;
    padding-right: $paddingBeforeScroll;
}

@media only screen and (max-width: 1200px) { // 600px - 1200px
    .component {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}